body {
	background-color: #fff;
}

.page-template-aboutpage {
	

	.titleSection {
		background-color: rgb(48,0,48,1);
		background-image: url('img/aboutHero.jpg');

			h1 {
				padding:160px;
				margin: 0 auto;
				color: #1B1419;
				text-rendering: optimizeLegibility;
				text-transform: uppercase;
				color: white;
				font-size:5em;
				letter-spacing: 17px;
				text-align: center;
			}
	} //titleSection

	#bioSection {
		width:100%;
		padding-top:75px;
		padding-bottom:100px;
	}
		
	#performerSection {
			width:100%;
			color: #D1D1D1;
			background-color: #1B1419;
			padding-top:75px;
			padding-bottom:100px;
		}
		
	#vocalSection {
		width:100%;
		padding-top:75px;
		padding-bottom:100px;
	}

	#pianistSection {
		width:100%;
		color: #D1D1D1;
		background-color: #1B1419;
		padding-top:75px;
		padding-bottom:100px;
	}

	#directorSection {
		width:100%;
		padding-top:75px;
		padding-bottom:50px;
	}

	#pressSection {
		width:100%;
		color: #D1D1D1;
		background-color: #1B1419;
		padding-top:50px;
		padding-bottom:100px;
	}

	p {
		font-size: 1.4em;
	}

} // page-template-aboutpage


