body {
  background-color: #fff;
}
.page-template-aboutpage .titleSection {
  background-color: #300030;
  background-image: url('img/aboutHero.jpg');
}
.page-template-aboutpage .titleSection h1 {
  padding: 160px;
  margin: 0 auto;
  color: #1B1419;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: white;
  font-size: 5em;
  letter-spacing: 17px;
  text-align: center;
}
.page-template-aboutpage #bioSection {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 100px;
}
.page-template-aboutpage #performerSection {
  width: 100%;
  color: #D1D1D1;
  background-color: #1B1419;
  padding-top: 75px;
  padding-bottom: 100px;
}
.page-template-aboutpage #vocalSection {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 100px;
}
.page-template-aboutpage #pianistSection {
  width: 100%;
  color: #D1D1D1;
  background-color: #1B1419;
  padding-top: 75px;
  padding-bottom: 100px;
}
.page-template-aboutpage #directorSection {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 50px;
}
.page-template-aboutpage #pressSection {
  width: 100%;
  color: #D1D1D1;
  background-color: #1B1419;
  padding-top: 50px;
  padding-bottom: 100px;
}
.page-template-aboutpage p {
  font-size: 1.4em;
}
